.todoBox {
  position: relative;
  width: 600px;
  height: 100%;
  margin: auto;
  background: $blue;
  .filterBox, .taskBox, .addTaskBox {
    width: 95%;
    margin: 0 auto;
  }
  .filterBox {
    padding-top: 30px;
    text-align: right;
  }
  .filterInput {
    width: 21%;
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: 0.1em;
  }
  .taskBox {
    min-height: 200px;
    padding: 30px 15px;
  }
  .taskList {
    position: relative;
    height: 32px;
    margin-bottom: 8px;
    background: $orange;
  }
  .taskWrapper {
    // border: 1px solid $blue-ultralight;
    width: 83%;
    color: $brown;
    padding: 8px;
    display: block;
    cursor: pointer;
  }
  .task {
    outline: none;
    @include transition-property(opacity);
    @include transition-duration(0.2s);
    &:focus {
      @include opacity(.3);
    }
  }
  .done {
    text-decoration: line-through;
  }
  .taskOptions {
    position: absolute;
    top: 0;
    right: 0;
    i {
      color: $brown;
      display: inline-block;
      font-size: 1.4em;
      line-height: 1.4em;
      padding-right: 15px;
      cursor: pointer;
      @include opacity(.2);
      @include transition-property(opacity);
      @include transition-duration(0.2s);
      &:hover {
        @include opacity(1);
      }
    }
  }
  .addTaskBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    margin: auto;
    width: 95%;
    .inputGroup {
      width: 75%;
      float: left;
      margin-right: 2%;
    }
  }
  .addInput {
    vertical-align: bottom;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 5px;
  }
  .addButton {
    float: right;
    width: 21%;
    font-size: 0.9em;
    cursor: pointer;
  }
}
